.home-contents {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.menu-list {
  padding-left: 0;
  list-style: none;
}

.menu-list-item {
    margin-top: 30px;
}

